body {
	margin: 0;
	background-color: rgb(165, 127, 196);
	scroll-behavior: smooth;
}
.Question_Card_Container {
	font-family: monospace;
	font-size: 17px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.question_container {
	display: flex;
	flex: 1;
	width: 90vw;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;
	border-radius: 10px;
	/* margin-top: 10px; */
	/* padding: 0 10px 0 10px; */
}
.question_paragraph {
	color: rgb(99, 27, 158);
	margin: 0;
	word-break: keep-all;
	padding: 0 10px;
}
.answer_container {
	display: flex;
	flex: 3;
	width: 90vw;
	flex-direction: column;
	justify-content: space-evenly;
}
.answer_item {
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 0 10px;
	margin: 0;
	border-radius: 10px;
	border: 0;
	outline: none !important;
	box-shadow: none !important;
	color: rgb(99, 27, 158);
}
.answer_item:hover {
	background-color: rgb(99, 27, 158);
	color: #fff;
}
.controllers_container {
	display: flex;
	height: 70px;
	width: 90vw;
	justify-content: space-between;
	align-items: center;
}
.next_button {
	width: 70px;
	height: 20px;
	background-color: azure;
	outline: none !important;
	box-shadow: none !important;
	border: none;
}
